.site-wrapper{
    width: 100%;
    max-width: 1300px;
    margin:auto;
}

body{
    position: relative;
}

.pattern {
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
}

.features-container{
    display: flex;
    margin: 5em 0;
    gap: 1em;
    overflow-x: auto;
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 1em;
}
.features-container::-webkit-scrollbar{
    display: none;
    width: 0px;
}
.feature{
    min-width:70vw;
    scroll-snap-align: center;
    cursor: pointer;
    transition: transform .3s ease;

}

.feature:hover{
    transform: scale(1.03);
}

.feature-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: .5em;
    text-align: center;
    
}

.feature-content{
    padding: 1.5em;
    border: 7px solid transparent;
    background: linear-gradient(rgb(5, 5, 5), rgb(2, 2, 2)) padding-box,
    linear-gradient(312deg, #9ddedb, darkorchid) border-box;
    border-radius: 3em;
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.9;

}

.feature-content-title{
    font-weight: bold;


}
.features-content-paragraph{
color: #ccc;
line-height:1.8;
height: 300px;

}

.feature-content-cta a{
    background-color: yellow;
    padding:.5em 1em ;
    border-radius: 25px;
    font-weight: bold;
    color: black;

}

.feature-content-cta a:hover{
    background-color: transparent;
    color: white;
}


@media (min-width: 768px) {

    .feature-title{
        font-size: 36px;
    }

    .features-container{
       width: 100%; 
       display: grid;
       gap:50px 30px ;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .feature{
       min-width:0;
      
    }

}
