*,
::after,
::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Suisse";
  src: url("./assets/fonts/SuisseIntl-Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: "Suisse";
    src: url("./assets/fonts/SuisseIntl-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
  }

 
html,
body {
  margin: 0;
  font-size: 62.5%;
  min-height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.6;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  font-family: "Suisse";
  color: var(--original-white);
}

button,
select {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  border: none;
  margin: 0;
  background: none;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
  cursor: pointer;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
  }
  h1,h2,h3,li{
padding:0;
margin:0;
font-weight: normal;
  }

.site-wrapper{
    overflow: hidden;
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}
@media (min-width: 992px){
.container {
    max-width: 960px;
}}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}

@media (min-width: 576px){
    .containers {
        max-width: 540px;
    }}
    @media (min-width: 768px){
    .containers {
        max-width: 720px;
    }}
    @media (min-width: 992px){
    .containers {
        max-width: 960px;
    }}
    @media (min-width: 1200px){
    .containers {
        max-width: 1240px;
    }}
    @media (min-width: 1800px){
        .containers {
            max-width: 1600px;
        }}
        @media (min-width: 1900px){
            .containers {
                max-width: 1400px;
            }}

    .containers {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }




    @media (min-width: 576px){
        .container3 {
            max-width: 540px;
        }}
        @media (min-width: 768px){
        .container3 {
            max-width: 720px;
        }}
        @media (min-width: 992px){
        .container3 {
            max-width: 787px;
        }}
       
    
        .container3 {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }



.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.flex{
    display: flex;
}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}

.wrap{
    flex-wrap: wrap;
}
.nowrap{flex-wrap: nowrap;}
.over-auto{overflow: auto;}






.grow-0{flex-grow: 0;}
.shrink-0{flex-shrink: 0;}
.basis-full{flex-basis: 100%;}
.basis-half{flex-basis: 50%;}
.basis-10{flex-basis: 10%;}
.basis-23{flex-basis: 23%;}
.max-w-23{max-width: 23%;}
.basis-25{flex-basis: 25%;}
.max-w-25{max-width: 25%;}
.basis-30{flex-basis: 30%;}
.max-w-30{max-width: 30%;}
.basis-60{flex-basis: 60%;}
.max-w-60{max-width: 60%;}
.basis-80{flex-basis: 80%;}
.max-w-full{max-width: 100%;}
.max-w-half{max-width: 50%;}
.max-w-80{max-width: 80%;}
.max-w-55{max-width: 55%;}

.w-full{width:100%}
.w-half{width:50%}
.w-60{width: 60%;}
.w-240{width:240px;}

@media (min-width:1200px){
    .lg\:basis-30{flex-basis: 30%;}
.lg\:max-w-30{max-width: 30%;}
.lg\:basis-25{flex-basis: 25%;}
.lg\:max-w-25{max-width: 25%;}
.lg\:basis-23{flex-basis: 23%;}
.lg\:max-w-23{max-width: 23%;}
.lg\:w-60p{width: 60%;}
}



.text-center{text-align: center;}


/* Flex Properties */
.justify-between{
    justify-content: space-between;
}
.justify-start{justify-content: flex-start;}
.items-center{align-items: center;}
.items-start{align-items: flex-start;}
.justify-center{justify-content: center;}
.height-fullvh{
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 200px;
}

/* Padding */
.p-5{padding:5px}
.pl-15{padding-left: 15px;}
.p-15{padding:15px}
.pt-20{padding-top: 20px;}
.pt-15{padding-top: 15px;}
.pb-20{padding-bottom:20px}
.pb-80{padding-bottom: 80px;}
.p-50{padding: 50px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pt-60{padding-top:60px}
.pb-60{padding-bottom:60px}
.pt-80{padding-top:80px}
.pt-100{padding-top:100px}
.pt-160{padding-top: 160px;}
.pt-220{padding-top: 220px;}
.pt-180{padding-top: 180px;}
.pb-80{padding-bottom: 80px;}
.pt-150{padding-top: 150px;}
.pb-150{padding-bottom: 150px;}
.pb-120{padding-bottom: 120px;}
.pt-120{padding-top: 120px;}
.pl-15{padding-left: 15px;}
.pr-15{padding-right: 15px;}
.ptx-150{padding:150px 0}
@media (min-width:992px) {
    .lg\:pt-220{
                padding-top: 180px;
            };
           
            .lg\:pb-120{
                padding-bottom: 120px;
            }
        }
.row_padding {
    padding: 0 15px;
}


/* Gap */
.gap-1{gap: 4px;}
.gap-2{gap:8px}
.gap-4{gap:16px}
.gap-15{gap: 15px;}
.gap-30{gap: 30px;}
.gap-60{gap:60px;}
.gap-50{gap: 50px;}
.gap-50{gap: 60px;}
/* Margin */
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-120{
    margin-bottom: 130px;
}
.mb-130{
    margin-bottom: 130px;
}
.mt-15{margin-top: 15px;}
.mt-40{
    margin-top: 40px;
}
.mt-70{margin-top: 70px;}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}



.col
    {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

/* Text color  */
.text-white{
    color: #ffffff;
}

.text-black{
    color: #000000;
}

.text-yellow{color:var(--yellow)}

/* Background color */
.bg-white{
    background-color: #ffffff;
}

.bg-black{
    background-color: #000000;
}

/* Font sizes */


.text-xs{	font-size: 0.75rem; /* 12px */
line-height: 1rem; /* 16px */}
.text-sm	{font-size: 0.875rem; /* 14px */
line-height: 1.25rem; /* 20px */}
.text-base	{font-size: 1rem; /* 16px */
line-height: 2rem; /* 24px */}
.text-base2	{font-size: 1.6rem; /* 16px */
    line-height: 1.8rem; /* 24px */}
.text-lg	{font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */}
.text-xl	{font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */}
.text-2xl	{font-size: 1.5rem; /* 24px */
line-height: 2rem; /* 32px */}
.text-3xl	{font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */}
.text-4xl	{font-size: 2.25rem; /* 36px */
line-height: 2.5rem; /* 40px */}
.text-5xl	{font-size: 3rem; /* 48px */
line-height: 1;}
.text-32xl	{font-size: 3.2rem; /* 48px */
    line-height: 1;}
.text-6xl	{font-size: 3.75rem; /* 60px */
line-height: 1;}
.text-7xl	{font-size: 4.5rem; /* 72px */
line-height: 1;}
.text-8xl	{font-size: 6rem; /* 96px */
line-height: 1;}
.text-9xl	{font-size: 8rem; /* 128px */
line-height: 1;}
.text-10xl	{font-size: 9rem; /* 144px */
    line-height: 1;}
.text-11xl	{font-size: 10rem; /* 160px */
        line-height: 1;}
.text-12xl	{font-size: 11rem; /* 176px */
            line-height: 1;}
            .text-25xl{
                font-size: 2.5rem; /* 36px */
line-height: 2.5rem; /* 40px */
            }
            .text-2xll {
                font-size: 2rem;
                line-height: 2rem;
            }

      @media (min-width:992px) {
        .lg\:text-11xl{
                    font-size: 10rem; /* 160px */
        line-height: 1;
                }
                .lg\:text-12xl{
                    font-size: 11rem; /* 176px */
        line-height: 1;
                }
                .lg\:text-6xl{
                    font-size: 3.75rem; /* 60px */
                    line-height: 1;
                }
                .lg\:text-5xl{font-size: 3rem; /* 48px */
                    line-height: 1;}
                .lg\:text-8xl{font-size: 6rem; /* 96px */
                    line-height: 1;}
                    .lg\:text-9xl	{font-size: 8rem; /* 128px */
                        line-height: 1;}
             .lg\:text-2xl{
                font-size: 1.5rem; /* 24px */
                line-height: 2rem; /* 32px */
             }
             .lg\:text-2rl{
                font-size: 2rem; /* 24px */
                line-height: 2.25rem;
             }
             .lg\:text-26xxl{
                font-size: 2.2rem; /* 160px */
    line-height: 1;
            }
             .lg\:text-5xxl{
                font-size: 4rem; /* 160px */
    line-height: 1;
            }
             .lg\:text-84{  
                 font-size: 8.4rem;
                 line-height: 1.2;
             }
         
 

            }
@media (min-width:1280px){
    .xl\:text-2xxl{
        font-size: 2.4rem; 
     }
}

@media (min-width:1800px){
    .xl\:text-112{
        font-size: 112px;
        line-height: 1;
     }
     .xl\:text-37{
        font-size: 37px;
        line-height: 1;
     }
     .xl\:text-2xll{
        font-size: 2.4rem; 
     }
}
            .text-20{font-size: 20px;}
.text-dd{font-size: 1.8rem;
    line-height: 2.2rem;}
/* Font weight */

.font-thin{font-weight:100}
.font-bold{font-weight: 600;}

.relative{
    position: relative;
}

.absolute{position:absolute}
.bottom-0{bottom:0}
.z-1{z-index:1}
.z-99{z-index:99}

.button {
    font-size: 18px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 5px 5px;
    border-radius: 65px;
    justify-content: center;
    font-family: var(--general-font);
}
@media (min-width:1800px){
    .button{
        height: 80px;
    }
}



:root {
  /* Colors */
  --original-black: #000000;
  --dim-black: #080808;
  --original-white: #ffffff;
  --cream-blue: #2828ee;
  --light-blue: #f6f8fa;
  --shadow-grey: #ffffff40;
  --shadow-greyblue: #1b1f240a;
  --border-white: #d8dee4;
  --border-grey: #24292f;
  --hover-grey: #d0d7de52;
  --background-grey: #afb8c133;
  --sunny-orange: #fd9881;
  --creamyblue-border: #d0d7de;
  --dark-shadow: #1b1f2426;
  --blue-text: #0969da;
  --grey-text: #57606a;
  --dark-grey: #737a91;
  --background-dark: #c9bcbc;
  --background-cream-two: #e3e3ed;
  --small-background: #543804;
  --dark-red: #cd0000;
  --green:green;
  --dark-blue-icon: #0f133c;
  --light-grey: #d4d4d4;
  --yellow:yellow;
  /*Font*/
  --general-font: "Suisse";

  --default-size: 1.6rem;
}




 .gradient-background{
    background: linear-gradient(270deg, #78FF0E 0%, #0FFFD4 51.19%, #8F00FF 100%);
width: 75%
    
     ;}
     @media(min-width:1200px){
        .gradient-background{
            width: 25%
        }
     }
     .gradient-textbackground{
        background: linear-gradient(90deg, #FFF502 0%, #0CFFD3 37.62%, #1FBCFF 67.33%, #EB00FF 100%);

        ;}
     .gradient-textBackground{
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
     }
   
.list-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;

}

.relatives::before {
    content: "• ";
    color: rgb(0, 255, 0);
    margin-right:4px ;
    width:12px;
    font-weight: bold;
    font-size: 27px;
    display: inline-block;
  }

  @media (min-width:1800px){
    .relatives::before {
        content: "• ";
        color: rgb(0, 255, 0);
        margin-right:9px ;
        width:12px;
        font-weight: bold;
        font-size: 36px;
        display: inline-block;
      }
  }
  
.green{background-color: green;}
.Header{
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-size: 100%;
    background-position-y: -140px;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("./assets/images/hero-background.svg");
}
@media (min-width:1200px){
    .Header{

        height: 100vh;
    }
}
/* .Header::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 24px;
    right: -694px;
    height: 100%;
    z-index: 0;
    background-image: url("./assets/images/hero-background.svg");
    animation-name: moveHeader;
    animation-duration: 1s;
    animation-direction: alternate;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} */
@keyframes moveHeader {
    /* from{ right: -694px;}
    to{ right: -1046px;} */
}
.infoSection{
position: relative;
    background-color: black;
}
.section-1{
    width:75%;
    padding-left: 43px;
}
.infoSection::after{
    background-image: url("./assets/images/info-background.svg");
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    /* transform: translateX(646px); */
    top: 133px;
    right: -946px;
    height: 100%;
    z-index: 0;
    animation-name: move;
    animation-duration: 1s;
    animation-direction: alternate;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes move {
    /* from{ right: -946px;}
    to{ right: -1046px;} */
}
.communitySection{
    background-color: black;
}
.footer{
    position: relative;
    overflow: hidden;
    background-color: black;
    background-size: 100% 100%;
    background-position-y: -134px;
    z-index: 100;
    background-repeat: no-repeat;
    background-image:url("./assets/images/footer-background.png")
   
}
@media (min-width:1200px){
    .footer{padding-top: 176px;} 
}
/* .footer::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index:-1;
    
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-image:url("./assets/images/footer-background.png")
} */
.diffuseFade{
    height:80px;
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(8, 8, 8, 0.5), rgb(14, 13, 13));
}

.banner{
    background: linear-gradient(to right,#fcfff3,#e2ff7f)
}

.borderRing{
    background-image: linear-gradient(to left,#be95fb,#c197f8);

border-radius: 25px;
cursor: pointer;

}
.borderRing2{
    background: linear-gradient(180deg, #030080 -59.8%, #DB00FF 135.81%);
    padding: 15px;
    height: 479px;
    justify-content: space-around;
    border-radius: 53px;
    cursor: pointer;
    color: #ffffff;
    transition: all 5ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .pg{
    padding:0 24px;
} */
.borderRing2:hover{
background: white;
color: black;

}

.borderRing2:hover  .relativ::before{
    color: black;
    
    }
    .dott{
        background-color: rgb(0, 255, 0);
        max-width: 5%;
        flex: 0 0 5%;
        height: 12px;
        margin-right: 4px;
        margin-top: 4px;
        border-radius: 100%;

    }
    .relativ::before {
        content: "• ";
        color: rgb(255, 255, 255);
        margin-right:2px ;
        width:12px;
        font-weight: bold;
        font-size: 20px;
        display: inline-block;
        transition: all 5ms ease-out;
      }

.gradient-2:hover{
  scale:1.1;
}

.gradient-2 {
    background: linear-gradient(rgb(5, 5, 5), rgb(2, 2, 2)) padding-box,
    linear-gradient(180deg, #0776F9 0%, #0768F9 0.01%, #BD00FF 100%) border-box;
/* 
border-image-source: linear-gradient(180deg, #0776F9 0%, #0768F9 0.01%, #BD00FF 100%); */


    border-radius: 64px;
    border: 8px solid transparent;
    height: 456px;
    cursor: pointer;
    z-index:99;
    flex: 0 0 26%;
    max-width: 26%;
  }
  .step1{
    font-size: 45px;}
.step{
    font-size: 45px;
    margin-top: 48px;
    margin-bottom: 25px;
}
  .tab-container{
    border: 3px solid #ffffff;
    border-radius: 50px;
    padding: 5px ;
    overflow: auto;
    flex-wrap: nowrap;
    width:83%;
    max-width: 83%;
  }

  .tab-item{
    padding: 10px 10px;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
  }

  .tab-item.active{
    
    color: black;
    background: white;
  }
  .tab-content{display: none;}
  .tab-content.active{
    display: block;
  }

.boxSection{
gap: 60px;
justify-content: center;}


.spinner-1{
    bottom: 299px;
    right: 30px;
    width: 154px;
    color: white;
    display: inline-block;
    animation: spinner2 infinite 4s ;
    animation-play-state: running;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

.spinner-2{
    bottom: 90px;
    right: 227px;
    width: 190px;
    color: white;
    display: inline-block;
    animation: spinner infinite 4s ;
    animation-play-state: running;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}
@keyframes spinner {
    0%{
        transform: rotate3d(0, 1, 1, 45deg);
    }
    30%{    transform: rotate3d(2, 1, 1, 95deg);}
    70%{    transform: rotate3d(1, 3, 1, 145deg);}
    100%{    transform: rotate3d(1, 1, 2, 345deg);}
}
@keyframes spinner2 {
    0%{
        transform: rotate3d(3, 1, 2, 445deg);
    }
    30%{    transform: rotate3d(4, 2, 1, 295deg);}
    70%{    transform: rotate3d(1, 1, 1, 145deg);}
    100%{    transform: rotate3d(3, 3, 2, 65deg);}
}
.mobile_text_header {
    display: flex;
    flex-direction: column;


}

@media (min-width:992px) {
    .mobile_text_header {
        display: none;
    }
}
.navbar-middleSection {
    display: none;
}
@media (min-width:992px) {
    .navbar-middleSection {
        display: flex;
    }
}

.hamburger_menu {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #ffffff;

}

.hamburger_menu:not(:last-child) {

    margin-bottom: 4px;

}

.changeText{
   
    width: 72%;
}
.heighty{height: 380px;}
@media (min-width:1800px){
    .heighty{height: 573px;}
}
.heroText{
    display: none;
}
.heroText.active{
    display: flex;
}
/* .changeText::before {
    content: "We Fund";
    animation: animate infinite 5s;
} */

/* @keyframes animate {

    0% {
        content: "We Teach";
    }

    50% {
        content: "We Fund";
    }

    75% {
        content: "Get up to $100K  Instant Fx Funding";
    }
    100% {
        content: "We Pay";
    }
} */

.imageSection{
    gap: 30px;
}
.footer-note{
    width: 85%;
    max-width: 600px;
    margin: 5em auto ;
    display: block;
}


.button2{
    font-size: 18px;
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    height: 40px;
    font-weight: bold;
    border-radius: 15px;
    font-family: var(--general-font);
}

/* .bannerAnimation{
    white-space: nowrap;
    width: 100vw;
    -webkit-animation: tickerScroll 40s linear infinite normal;
    animation: tickerScroll 40s linear infinite normal;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all linear;
    will-change: transform,opacity;
}
@keyframes tickerScroll{0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
to{opacity:1;-webkit-transform:translateX(-1937px);transform:translateX(-1937px)}} */


    .dotts {
        background-color: rgb(0, 255, 0);
        max-width: 2%;
        flex: 0 0 5%;
        height: 12px;
        margin-top: 4px;
        border-radius: 100%;
    }

    .banner-1{
        display: none;
    }

    .banner-1.active{
        display: block;
      }
